@model IEnumerable<FridgeManagement.Models.FaultReport>

@{
    ViewData["Title"] = "Fridge List";
}

<h1>Fridge List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ReportDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReportDetails)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fault)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ReportDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReportDetails)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fault.FaultDescription)
            </td>
            <td>@Html.ActionLink("Update Condition", "UpdateCondition", new { id = item.FaultID }, new { @class = "btn btn-primary"} )</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ReportID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ReportID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ReportID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
